.chat
  .chat__header 
    .chat__header__name
      groups name
      .chat__header__member
        Member:
    .chat__header__edit-btn
      Edit
  .chat__contents
    .chat__contents__member
      .chat__contents__name
        name
      .chat__contents__time
        time
    .chat__contents__message
      message
  .chat__form
    .chat__form__box
      .chat__form__box__contents
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: "chat__form__box__contents__new--message", placeholder: 'type a message'
        = f.label :image, class: "chat__form__box__contents__new--image" do
          =icon('fas', 'image')
          = f.file_field :image, class: "chat__form__box__contents__file--input"
      .chat__form__box__btn
        = f.submit 'Send', class: "chat__form__box__btn--send"